tempchangelog.txt
# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/
*.py[cod]
*$py.class

# Distribution / packaging
.Python

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Spyder project settings
.spyderproject
.spyproject

# data files
*.npy
*.mp4
*.mat
*.txt
*.csv
/data
continuous/NSE2D
discrete/viscek

# Mac directory settings
*.DS_Store

/testscript.py
/carlos_tests/

Julia/Sysimage.so
continuous/.DS_Store
