tempchangelog.txt
# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/
*.py[cod]
*$py.class

# Distribution / packaging
.Python

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Spyder project settings
.spyderproject
.spyproject

# data files etc.
*.npy
*.mp4
*.mat
*.txt
*.csv
/data
continuous/NSE2D
discrete/viscek
discrete/Matt

# Mac directory settings
*.DS_Store

# tests
/testscript.py
/carlos_tests/

# Julia and other outdated scripts
Julia/Sysimage.so
/archive
commons/archive
continuous/archive
discrete/archive