# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/
*.py[cod]
*$py.class

# Distribution / packaging
.Python

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Spyder project settings
.spyderproject
.spyproject

*.npy
*.mp4
*.mat
/data
continuous/NSE2D